# RAG Mode — DeepSeek
DEEPSEEK_KEY=your_deepseek_api_key_here

LLM_MODEL_NAME=deepseek-chat
LLM_MODEL_BASE_URL=https://api.deepseek.com/v1

# 向量库与 Embedding
MILVUS_PATH=D:\Milvus
MILVUS_URI=D:\Milvus\milvus.db
BGE_M3_PATH=D:\BGE-M3
BGE_M3_DEVICE=cpu
